server:
  port: 8080

spring:
  datasource:
    username: root
    password: 123.com
    url: jdbc:mysql://localhost:3306/competition?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

mybatis:
  mapper-locations: classpath:/com/hxyp/mapper/*Mapper.xml
  type-aliases-package: com.hxyp.entity

#showSql
logging:
  level:
    com:
      example:
        mapper : debug