<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxyp.mapper.LoginMapper">
    <!--    查询登录用户是否存在-->
    <select id="findLogin" parameterType="login" resultType="int">
        select lPower from login where lName=#{lName} and lPassword=#{lPassword}
    </select>

<!--    增加一个新用户，不加id号-->
    <insert id="insertLogin" parameterType="login">
        insert into login(lName,lPassword,lPower) values(#{lName},#{lPassword},#{lPower});
    </insert>

<!--    修改用户信息，通过id-->
    <update id="updateLogin" parameterType="login">
        update login set lId=#{lId},lName=#{lName},lPassword=#{lPassword},lPower=#{lPower} where lId=#{lId}
    </update>

<!--    删除指定用户-->
    <delete id="deleteLogin" parameterType="login">
        delete from login where lId=#{lId} and lName=#{lName} and lPassword=#{lPassword} and lPower=#{lPower}
    </delete>
</mapper>